.wrapper {
  text-align: center;
  margin: auto 0;
  height: 100vh;
}

.colors span.dark {
  color: rgba(255, 255, 255, 0.75);
}

@keyframes jump {
  from {
    transform: scale(2.5) rotate(-3deg);
  }
  to {
    transform: scale(1) rotate(0);
  }
}

.colors span.got {
  text-decoration: line-through;
  animation: jump 0.2s ease-in-out 2 alternate-reverse;
}
